

:root {

/* Colors: */
--fontn: #A5A5A5;
--fonty: #575757;
--outline: #E2E2E2;
--bg: #F5F5F5;
--w: #FFFFFF;
--ilico1: #231955;
--ilico2: #F6C94F;
--unnamed-color-141e70: #141E70;
--unnamed-color-000000: #000000;
--mo: #E9EDFA;

/* Font/text values */
--unnamed-font-family-noto-sans-cjk-kr: Noto Sans CJK KR;
--unnamed-font-family-210-omnigothic-050: 210 OmniGothic 050;

}

/* Character Styles */
.texthead1 {
font-family: 'Nanum Gothic', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 200%;
color: var(--unnamed-color-000000);
}
.texthead2 {
font-family: 'Nanum Gothic', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 200%;
color: var(--unnamed-color-000000);
}
.textbold {
font-family: 'Nanum Gothic', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 180%;
color: var(--ilico1);
}
.textmain {
font-family: 'Nanum Gothic', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 160%;
color: var(--unnamed-color-000000);
margin-left: 20px;
}
.menutext {
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--fontn);
    text-align: left;
    letter-spacing: 0px;
    color: #A5A5A5;
    position: relative;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
}
.textgray{
    font-family: 'Nanum Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: var(--fonty);
    background-color: var(--bg);
}
.texthl{
    font-family: 'Nanum Gothic', sans-serif;
    font-style: italic;
    font-weight: medium;
    font-size: 16px;
    line-height: 170%;
    color: var(--fonty);
    background-color: #F9E79F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--w);
    overflow: hidden;
}
.menubox {
    position: absolute;
    overflow: hidden;
    width: 17%;
    height: 70%;
    top: 19%;
    left: 6%;
    border-radius: 25px 0px 0px 25px;
    background-color: rgba(226,226,226,1);
    /*box-shadow: -3px 0px 5px var(--fontn) inset;*/
}
.contentbox {
    position: absolute;
    overflow: visible;
    top: 19%;
    left: 24%;
    width: 55%;
    height: 70%;
}
#main {
    position: absolute;
    overflow: visible;
    top: 23%;
    left: 29%;
    width: 49%;
    height: 60%;
    /*background-color: var(--);*/
}
.widgetbox {
    position: absolute;
    overflow: hidden;
    top: 19%;
    left: 80%;
    width: 15%;
    height: 70%;
}

#crossline {
    position: absolute;
    width: 1700px;
    height: 1px;
    left: 100px;
    top: 192.875px;
    overflow: visible;
}

.boxline {
    stroke: rgba(226,226,226,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.menucontainer {
    position: relative;
    overflow: visible;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 96%;
    display: grid;
    grid-template-rows: repeat(10,auto);
    gap: 10px;
}
.menu1{grid-row:1;text-align: center;}
.menu2{grid-row:2;text-align: center;}
.menu3{grid-row:3;text-align: center;}
.menu4{grid-row:4;text-align: center;}
.menu5{grid-row:5;text-align: center;}

#header {
    position: absolute;
    overflow: visible;
    top: 12%;
    left: 6%;
    width: 88%;
    height: 5%;
    text-align: right;
    margin:auto;
}
#profile {
    position: relative;
    overflow: hidden;
    top: 0px;
    left: 0%;
    width: auto;
    height: 150%;
    border-radius: 70%;
    top: -25%;
    margin-right: 20px;
}
.menubutton {
    background-color: var(--bg);
    border-radius: 15px;
    text-align: center;
    font: bold 16px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: var(--fontn);
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.menubutton:hover {
    background-color: var(--mo);
}
.menubutton:active {
    border:3px solid #575757;
    color: var(--fonty);
}
.topmenu {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    color: #8B8B8B;
    opacity: 1;
    background-color: var(--w);
    width: 80px;
    height: auto;
    margin-right: 20px;
    position: relative;
    top:-80%;
}
.topmenu:hover {
    background-color: var(--bg);
}
.topmenu:active {
    background-color: var(--bg);
    color: #000000;
}
.profileimg{
    width: auto;
    height: 100%;
    border-radius: 70%;
    object-fit:contain;
    object-position:50% 50%;
}
.profileimg:active {
    filter: brightness(0.8);
}
#logo {
    margin: auto;
}
.logo {
    width:250px;
}
.logo:hover{
    filter: drop-shadow(0 0 3px gray);
}
.logo:active {
    filter: drop-shadow(0 0 3px gray);
    filter:brightness(0.9);
}

#footer {
    position: absolute;
    overflow: visible;
    top: 90%;
    left: 6%;
    width: 90%;
    height: 8%;
    background-color: none;
}

@media (max-width: 600px) {
    #bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--w);
        overflow: scroll;
        text-align: center;
    }
    #header {
        position: absolute;
        overflow: visible;
        top: 70px;
        left: 5%;
        width: 90%;
        height: 5%;
        text-align: right;
        margin:auto;
    }
    #footer {
        position: absolute;
        overflow: visible;
        top: 95%;
        left: 5%;
        width: 90%;
        height: 5%;
        background-color: none;
        text-align: right;
    }
    .menubox {
        position: absolute;
        overflow: hidden;
        width: 90%;
        height: 8%;
        top: 17%;
        left: 5%;
        border-radius: 25px 25px 0px 0px;
        background-color: rgba(226,226,226,1);
        /*box-shadow: -3px 0px 5px var(--fontn) inset;*/
    }
    .menucontainer {
        position: relative;
        overflow: visible;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 5px;
    }
    .menu1{grid-column:1;grid-row:1/9;text-align: center;}
    .menu2{grid-column:2;grid-row:1/9;text-align: center;}
    .menu3{grid-column:3;grid-row:1/9;text-align: center;}
    .menu4{grid-column:4;grid-row:1/9;text-align: center;}
    .menu5{grid-column:5;grid-row:1/9;text-align: center;}
    .contentbox {
        position: absolute;
        overflow: visible;
        top: 27%;
        left: 5%;
        width: 93%;
        height: 67%;
    }
    #main {
        position: absolute;
        overflow: visible;
        top: 28%;
        left: 9%;
        width: 83%;
        height: 62%;
        /*background-color: var(--bg);*/
    }
    .widgetbox {
        position: absolute;
        overflow: hidden;
        top: 2%;
        left: 5%;
        width: 20%;
        height: 13%;
    }
}
