.mediaViewInfo {
    --web-view-name: Web 1920_1080 bg;
    --web-view-id: Web_1920_1080_bg;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {

/* Colors: */
--fontn: #A5A5A5;
--fonty: #575757;
--outline: #E2E2E2;
--bg: #F5F5F5;
--w: #FFFFFF;
--ilico1: #231955;
--ilico2: #F6C94F;
--unnamed-color-141e70: #141E70;
--unnamed-color-000000: #000000;
--mo: #E9EDFA;

/* Font/text values */
--unnamed-font-family-noto-sans-cjk-kr: Noto Sans CJK KR;
--unnamed-font-family-210-omnigothic-050: 210 OmniGothic 050;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-20: 20px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-35: 35px;
--unnamed-font-size-42: 42px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-35: 35px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-38: 38px;
--unnamed-line-spacing-49: 49px;
}

/* Character Styles */
.texthead1 {
font-family: var(--unnamed-font-family-noto-sans-cjk-kr);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-35);
line-height: var(--unnamed-line-spacing-36);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.texthead2 {
font-family: var(--unnamed-font-family-noto-sans-cjk-kr);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.textmainem {
font-family: var(--unnamed-font-family-noto-sans-cjk-kr);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-38);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--ilico1);
}
.textmain {
font-family: var(--unnamed-font-family-noto-sans-cjk-kr);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-35);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
}
.menutext {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 25px/37px var(--unnamed-font-family-noto-sans-cjk-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--fontn);
    text-align: left;
    font: normal normal bold 25px/37px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    position: relative;
    left: 80px;
    top: -60px;
    width: fit-content;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Web_1920_1080_bg {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: var(--w);
    overflow: hidden;
    --web-view-name: Web 1920_1080 bg;
    --web-view-id: Web_1920_1080_bg;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#menubox {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 750px;
    top: 230px;
    left: 110px;
}
#contentbox {
    position: absolute;
    overflow: visible;
    top: 230px;
    left: 470px;
    width: 1010px;
    height: 750px;
}
#main {
    position: absolute;
    overflow: visible;
    top: 260px;
    left: 480px;
    width: 1000px;
    height: 750px;
    /*background-color: var(--bg);*/
}
#crossline {
    position: absolute;
    width: 1700px;
    height: 1px;
    left: 100px;
    top: 192.875px;
    overflow: visible;
}
#widgetbox {
    position: absolute;
    overflow: visible;
    top: 230px;
    left: 1500px;
    width: 300px;
    height: 750px;
}
.menubox {
    fill: rgba(255,255,255,1);
    stroke: rgba(226,226,226,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.menucontainer {
    position: absolute;
    overflow: visible;
    top: 250px;
    left: 130px;
    width: 310px;
    height: 700px;
    display: grid;
    margin: auto;
    grid-template-rows: repeat(9,73px);
    gap: 10px;
}
.menu1{grid-row:1;text-align: center;}
.menu2{grid-row:2;text-align: center;}
.menu3{grid-row:3;text-align: center;}
.menu4{grid-row:4;text-align: center;}
.menu5{grid-row:5;text-align: center;}
.widgetcontainer {
    position: absolute;
    overflow: visible;
    top: 250px;
    left: 1520px;
    width: 260px;
    height: 700px;
    /*display: grid;
    margin: auto;
    grid-template-rows: repeat(8,auto);
    gap: 10px;*/
}
#header {
    position: absolute;
    overflow: visible;
    top: 50px;
    left: 120px;
    width: 1700px;
    height: 130px;
}
#profile {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 1500px;
    width: 100px;
    height: 100px;
    border-radius: 70%;
}
.menubutton {
    background-color: #FFFFFF;
    border-radius: 15px;
    text-align: center;
    font: normal normal bold 25px/37px Noto Sans CJK KR;
    letter-spacing: 0px;
    color: #A5A5A5;
    opacity: 1;
    width: 300px;
    height: 73px;
    border:5px solid #F5F5F5;
    transition: 0.2s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.menubutton:hover {
    background-color: #F5F5F5;
}
.menubutton:active {
    border:3px solid #575757;
}
.topmenu {
    font: var(--unnamed-font-style-normal) 22px var(--unnamed-font-family-noto-sans-cjk-kr);
    text-align: center;
    letter-spacing: 1px;
    color: #8B8B8B;
    opacity: 1;
    background-color: var(--w);
    position: relative;
    width: 160px;
    height: 50px;
    top: -45px;
    left: 500px;
}
.topmenu:hover {
    background-color: var(--bg);
}
.topmenu:active {
    background-color: var(--bg);
    color: #000000;
}
.profileimg{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    object-fit:contain;
    object-position:50% 50%;
}
.profileimg:active {
    filter: brightness(0.8);
}
.logo {
}
.logo:hover{
    filter: drop-shadow(0 0 3px gray);
}
.logo:active {
    filter: drop-shadow(0 0 3px gray);
    filter:brightness(0.9);
}

#footer {
    position: absolute;
    overflow: visible;
    top: 1000px;
    left: 150px;
    width: 1680px;
    height: 80px;
}
